In [11]:
import numpy as np
import pandas as pd
import geopy

In [2]:
df = pd.read_csv("citibike_2019_sample.csv")

In [3]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,574,2019-01-30 17:30:59.7870,2019-01-30 17:40:34.2530,359.0,E 47 St & Park Ave,40.755103,-73.974987,528.0,2 Ave & E 31 St,40.742909,-73.977061,33216,Subscriber,1993,1
1,709,2019-01-23 19:28:12.1530,2019-01-23 19:40:01.7030,493.0,W 45 St & 6 Ave,40.756800,-73.982912,3159.0,W 67 St & Broadway,40.774925,-73.982666,16092,Subscriber,1990,1
2,1993,2019-01-26 18:30:29.2160,2019-01-26 19:03:43.0780,503.0,E 20 St & Park Ave,40.738274,-73.987520,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,34868,Subscriber,1977,1
3,392,2019-01-05 18:31:40.6190,2019-01-05 18:38:13.1980,161.0,LaGuardia Pl & W 3 St,40.729170,-73.998102,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,31405,Subscriber,1996,1
4,543,2019-01-23 15:24:24.9240,2019-01-23 15:33:28.8630,3496.0,1 Ave & E 110 St,40.792327,-73.938300,3671.0,E 81 St & 2 Ave,40.774779,-73.954275,35695,Subscriber,1998,1

In [5]:
len(df)

411032

In [7]:
df.bikeid.nunique()

19288

In [8]:
df2 = pd.read_csv("2021_citibike_rides_sample.csv")

C:\Users\sajid\AppData\Local\Temp\ipykernel_22004\2667823156.py:1: DtypeWarning: Columns (1,2,4,8,12,20,22) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv("2021_citibike_rides_sample.csv")

In [9]:
df2.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,3352.0,2021-01-18 10:38:27.5130,2021-01-18 11:34:19.8980,4047.0,Amsterdam Ave & W 156 St,40.832081,-73.942386,4048.0,St. Nicholas Ave & W 157 St,40.832314,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1629.0,2021-01-16 18:13:25.1140,2021-01-16 18:40:34.3150,3676.0,Van Brunt St & Van Dyke St,40.675833,-74.014726,354.0,Emerson Pl & Myrtle Ave,40.693631,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,399.0,2021-01-07 13:48:12.5300,2021-01-07 13:54:52.0590,402.0,Broadway & E 22 St,40.740343,-73.989551,446.0,W 24 St & 7 Ave,40.744876,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,698.0,2021-01-11 19:06:25.8350,2021-01-11 19:18:04.0520,3170.0,W 84 St & Columbus Ave,40.785000,-73.972834,3553.0,Frederick Douglass Blvd & W 112 St,40.801694,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1614.0,2021-01-14 19:42:04.2760,2021-01-14 20:08:58.9590,3107.0,Bedford Ave & Nassau Ave,40.723117,-73.952123,143.0,Clinton St & Joralemon St,40.692395,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN